<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавить планету</title>
</head>
<body>
<h1>Создать планету:</h1>

<form th:action="@{/addPlanet}"
      th:object="${planetForm}" method="POST">
    Название планеты:
    <input type="text" th:field="*{name}" />
    <br/>
    Владелец планеты:
    <select th:field="*{lord_id}">
        <option value="">--</option>
        <option th:each="lord:${lords}"
                th:value="${lord.id}"
                th:utext="${lord.name}">
        </option>
    </select>
    <!--<input type="text" th:field="*{lord_id}" placeholder="Введите id лорда" />-->
    <br/>
    <input type="submit" value="Создать" />
</form>

<div th:if="${errorMessage}" th:utext="${errorMessage}"
     style="color:red;font-style:italic;">

</div>

<br/>
</body>
</html>