<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Список лордов</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>

<a href="index">На главную</a>

<h1>Список лордов</h1>
<a href="addLord">Добавить лорда</a>
<br/><br/>
<div>
    <table border="1" th:id="lord-table">
        <tr>
            <th>Имя лорда</th>
            <th>Возраст лорда</th>
        </tr>
        <tr th:each ="lord : ${lords}" th:id="lord-list">
            <td th:utext="${lord.name}" th:class="lord-name" th:id="${lord.id}">...</td>
            <td th:utext="${lord.age}">...</td>
        </tr>
    </table>
</div>

</body>
</html>